<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head.ejs") %>

        <link href="/css/home_sec.css" rel="stylesheet">
</head>

<body>
    <%- include("../partials/header.ejs") %>
        <main>

            <section>

                <% if (productos.length > 0) { %>

                    <h1>Productos</h1>

                    <% for(let i = 0; i < productos.length; i++) { %>

                        <article>

                            <a class="a-homesecundario" href="/products/detail/<%= productos[i].id %>">
                                <img src=<%=productos[i].img %> alt="Producto1">
                            </a>
                            <div>
                                <p class="descr"><b><%= productos[i].nombre %></b></p>
                                <p class="precios">
                                    $
                                    <%= productos[i].precio %>
                                </p>
                            </div>

                        </article>

                        <% } %>

                            <nav class="cambiopagina">
                                <p><a href="#">Anterior</a> | <a href="#">Siguiente</a></p>
                            </nav>
                            <% } else { %>
                                <h1>No hay productos cargados en la Web</h1>
                                <% } %>

            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
</body>

</html>