<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head.ejs") %>

        <!-- Hoja de estilos del perfil -->
        <link rel="stylesheet" href="/css/profile.css">

</head>

<body>

    <%- include("../partials/header.ejs") %>
        <main>
            <form enctype="multipart/form-data" action="/users/profile?_method=PUT" method="post">
                <section class="informacion">

                    <div class="secFotoPerfil">
                        <img src="<%= usuarioAMostrar.image %>" alt="" class="profile-img">
                        <div class="file-select" id="src-file1">
                            <input type="file" name="imageProfile" aria-label="Archivo">
                        </div>
                    </div>
                    <div class="secDatos">

                        <article class="profile-data">
                            <ul>
                                <li>Nombre:
                                    <%= usuarioAMostrar.nombre %>
                                </li>
                                <li>Apellido:
                                    <%= usuarioAMostrar.apellido %>
                                </li>
                                <li>Email:
                                    <%= usuarioAMostrar.email %>
                                </li>
                                <% if ( usuarioAMostrar.esAdmin == true) { %>
                                    <li>Categoria: Vendedor</li>
                                    <% } else { %>
                                        <li>Categoria: Comprador</li>
                                        <% } %>
                            </ul>
                        </article>


                    </div>
                </section>
                <section class="secGuardar">
                    <button type="submit" class="botonCambiar">Guardar</button>
                </section>
            </form>

        </main>
        <%- include("../partials/footer.ejs") %>
</body>