<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head.ejs") %>

        <!-- Hoja de estilos del perfil -->
        <link rel="stylesheet" href="/css/profile.css">

</head>

<body>

    <%- include("../partials/header.ejs") %>
        <main>
            <section>
                <ul>
                    <li class="profile-img"><img src="<%= usuarioAMostrar.image %>" alt=""></li>
                    <li class="change-icon"><a href=""><i class="fa-solid fa-pen-to-square"></i> Cambiar foto de perfil</a></li>
                    <li>
                        <ul class="profile-data">
                            <li>Nombre:
                                <%= usuarioAMostrar.nombre %>
                            </li>
                            <li>Apellido:
                                <%= usuarioAMostrar.apellido %>
                            </li>
                            <li>Email:
                                <%= usuarioAMostrar.email %>
                            </li>
                            <% if ( usuarioAMostrar.esAdmin == true) { %>
                                <li>Categoria: Vendedor</li>
                                <% } else { %>
                                    <li>Categoria: Comprador</li>
                                    <% } %>

                        </ul>
                    </li>
                </ul>
            </section>


        </main>
        <%- include("../partials/footer.ejs") %>
</body>